<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yoti.mobile.android.sdk">

    <application
        android:label="@string/app_name">
        <activity android:name=".ReceiverActivity" android:theme="@style/Theme.Yoti.AppCompat.Translucent"/>
        <service
            android:name=".kernelSDK.KernelSDKIntentService"
            android:exported="false"/>
    </application>

</manifest>